.App {
    font-family: Caveat;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.header {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    margin-top: 1.5%;
    left: 2%;
    font-size: 4em;
    font-weight: 600;
    transform: rotate(-30deg);
    transform-origin: center center;
    text-shadow: 0.08em 0em 0.18em black;
    color: white;
    cursor: default;
}

.guitar-icon {
    position: absolute;
    right: 3%;
    margin-top: 2%;
    animation: sway 2s ease-in-out infinite alternate;
}
@keyframes sway {
    from {
        transform: rotate(5deg)
    }
    to {
        transforM: rotate(-40deg)
    }
}


/* SEARCH */
.search-bar {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    margin-top: 2em;
}
.input {
    border: none;
    box-shadow: 0em 0em 0.5em 0em grey;
    font-size: 2em;
    font-family: Caveat;
    height: 1.75em;
    width: 6em;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: height .5s ease-in-out;
}
.input:focus {
    font-family: Roboto Mono;
    font-size: 2.5em;
    font-weight: 500;
    height: 2.25em;
    width: 7em;
}
.input:focus::placeholder {
    color: transparent;
}

.search-btn {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

/* CHORD DIAGRAM */
.diagram {
    display: flex;
    position: absolute;
    justify-content: center;
    flex-direction: row;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-top: 14em;
}
.diagram img {
    margin-left: 1em;
    height: 25em;
    box-shadow: 0em 0em 1em 0.25em grey;
}

/* FRETBOARD */

.fretboard {
    display: flex;
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 50vh;
    background: linear-gradient(140deg, #b07007, #b87e20, #c08d39, #c89b51, #d0a96a, #d8b883, #dfc69c, #e7d4b5, #efe2cd );
    margin-top: 19%;
    box-shadow: 0em 0em 1em 0.25em #6E492F;
}

.fret-1 {
    height: 100%;
    width: 0.5%;
    background: linear-gradient(-45deg, #edeff781, #eff1f8ab, #f1f2f9da, #f2f4f9ea, #f4f5fae8, #f2f4f9ea, #f1f2f9da, #eff1f8ab, #edeff781);
    margin-left: 15%;
}
.fret-2 {
    height: 100%;
    width: 0.5%;
    background: linear-gradient(-45deg, #edeff781, #eff1f8ab, #f1f2f9da, #f2f4f9ea, #f4f5fae8, #f2f4f9ea, #f1f2f9da, #eff1f8ab, #edeff781);
    margin-left: 15%;
}
.fret-3 {
    height: 100%;
    width: 0.5%;
    background: linear-gradient(-45deg, #edeff781, #eff1f8ab, #f1f2f9da, #f2f4f9ea, #f4f5fae8, #f2f4f9ea, #f1f2f9da, #eff1f8ab, #edeff781);
    margin-left: 15%;
}
.fret-4 {
    height: 100%;
    width: 0.5%;
    background: linear-gradient(-45deg, #edeff781, #eff1f8ab, #f1f2f9da, #f2f4f9ea, #f4f5fae8, #f2f4f9ea, #f1f2f9da, #eff1f8ab, #edeff781);
    margin-left: 15%;
}
.fret-5 {
    height: 100%;
    width: 0.5%;
    background: linear-gradient(-45deg, #edeff781, #eff1f8ab, #f1f2f9da, #f2f4f9ea, #f4f5fae8, #f2f4f9ea, #f1f2f9da, #eff1f8ab, #edeff781);
    margin-left: 15%;
}
.fret-6 {
    height: 100%;
    width: 0.5%;
    background: linear-gradient(-45deg, #edeff781, #eff1f8ab, #f1f2f9da, #f2f4f9ea, #f4f5fae8, #f2f4f9ea, #f1f2f9da, #eff1f8ab, #edeff781);
    margin-left: 15%;
}

/* RESPONSIVE DESIGN */

@media (max-width: 1149px) {
    .diagram img {
        margin-top: -4em;
    }
    .header {
        font-size: 2.75em;
    }
    .search-bar {
        gap: 0.75em;
    }
    .input {
        height: 1.75em;
        width: 5.5em;
        font-size: 1.75em;
    }
    .fretboard {
        margin-top: 20%;
    }
}
@media (max-width: 1040px) {
    .header {
        font-size: 3em;
    }

    .input {
        height: 1.5em;
        width: 5em;
        font-size: 1.5em;
    }
    .fretboard {
        margin-top: 22.5%;
    }

}
@media (max-width: 1024px) {
    .fretboard {
        margin-top: 25%;
    }
    .fretboard {
        margin-top: 23%;
        height: 20vh;
        width: 100vw;
    }
    .diagram img {
        height: 23em;
    }
}
@media (max-width: 912px) {
    .header {
        font-size: 2.5em;
    }

    .fretboard {
        margin-top: 28%;
    }
    .diagram {
        margin-top: 15em;
    }
    .diagram img {
        height: 23em;
    }

}
@media (max-width: 820px) {
    .header {
        font-size: 2em;
    }
    .fretboard {
        margin-top: 27.25%;
    }
    .fretboard {
        margin-top: 30%;
        height: 18vh;
        width: 100vw;
    }
    .diagram img {
        height: 18em;
    }
    .guitar-icon {
        font-size: 0.75em;
    }

}
@media (max-width: 768px) {
    .header {
        font-size: 1.5em;
    }
    .fretboard {
        margin-top: 33%;
        height: 18vh;
        width: 100vw;
    }
    .diagram img {
        height: 18em;
    }
    .guitar-icon {
        font-size: 0.75em;
    }
}
@media (max-width: 630px) {
    .fretboard {
        width: 110vw;
    }
}
@media (max-width: 540px) {
    .header {
        font-size: 1.25em;
    }
    .fretboard {
        margin-top: 40%;
        height: 25vh;
        width: 100vw;
    }
    .diagram img {
        height: 30vh;
    }
}
@media (max-width: 430px) {
    .header {
        font-size: 1.25em;
    }
    .fretboard {
        margin-top: 63%;
        height: 15vh;
        width: 120vw;
    }
    .diagram img {
        margin-top: 0.05%;
        height: 20vh;
    }
    .guitar-icon {
        font-size: 0.5em;
    }
}
@media (max-width: 390px) {
    .fretboard {
        margin-top: 75%;
        height: 10vh;
        width: 120vw;
    }
    .diagram img {
        margin-top: 5%;
        height: 18vh;
    }
    .guitar-icon {
        font-size: 0.5em;
    }

}